.clearfix:after {
  display: block;
  clear: both;
  content: '';
}
.wrapper {
  padding: 20px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  background-color: #fff;
  border-radius: 20px;
}
.modal-text {
  display: table-cell;
  width: 300px;
  height: 300px;
  text-align: center;
  vertical-align: middle;
}
.modal-close {
  position: absolute;
  top: -10px;
  right: -10px;
  padding-bottom: 4px;
  width: 30px;
  height: 30px;
  color: #999;
  font-weight: bold;
  border: 2px #999 solid;
  border-radius: 15px;
  background-color: #fff;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-show {
  display: inline-block;
  padding: 5px 10px;
  margin: 50px;
  color: #999;
  border-radius: 10px;
  border: 1px #999 solid;
  background-color: #fff;
  cursor: pointer;
}


/* $(function(){

  var parameter={
    applicationId:'1013041242368735405',
    keyword:'',hits:20,page:1,
  };
  var isLastPage = false;

  $('.search__btn').click(function() {
    init();
    request();
  });

  $(document).on('click','.prev',function(){
    if(parameter.page===1)
    return false;
    isLastPage=false;
    parameter.page--;
    request();
  });
    
  $(document).on('click','.next',function(){
    if(isLastPage)
    return noMorePageMessage();
    parameter.page++;
    request();
  });
      
  function request(){
    parameter.keyword=$('#js-search-word').val();
    $.ajax({
      url:'https://app.rakuten.co.jp/services/api/BooksTotal/Search/20130522',type:'GET',datatype:'json',data:parameter,
    })
    .done(function(data) {
      if (data.count===0) {
        notFoundMessage();
      } else {
        showResult(data.Items);
        showPager(data);
      }
      if (parameter.page===data.pageCount)
        isLastPage= true;
      })
        
    .fail(function(e) {
      responseErrorMessage(e);
    });
  }
          
  function init() {
    parameter.page = 1;
    isLastPage = false;
    $('.message').remove();
    $('.lists').empty();
  };
          
  function notFoundMessage() {
    $('.message').remove();
    $('.lists').before('<div class="message">検索結果が見つかりませんでした。<br>別のキーワードで検索して下さい。</div>');
  } 
          
  function noMorePageMessage() {
    $('.message').remove();
    $('.lists').before('<div class="message">これ以上はありません</div>');
  }
          
  function responseErrorMessage(e) {
    $('.message').remove();
    if (e.status === 0) {
      $('.lists').before('<div class="message">通信に失敗しました。インターネットの接続をご確認ください</div>');
    } else if (e.status === 400) {
      $('.lists').before('<div class="message">検索文字が空、もしくは半角英数1文字になっています</div>');
    } else {
      $('.lists').before('<div class="message">予期せぬエラーが発生しました。</div>');
  }}
            
  function showResult(result){
    $('.message').remove();
    let template='';
    $.each(result,function(index,item){
      template+=`<li class='lists__item'><div class='lists__item__inner'><a href='${item.Item.itemUrl}' class='lists__item__link' target='_blank'><img src='${item.Item.largeImageUrl}' class='lists__item__img' alt='${item.Item.title}'><p class='lists__item__detail'>作品名：${item.Item.title}</p><p class='lists__item__detail'>作者　：${item.Item.author}</p><p class='lists__item__detail'>出版社：${item.Item.publisherName}</p></a></div></li>`;
    });
    $('.lists').html(template);
  }
            
  function showPager(result) {
    $('.js-pager').remove();
    $('.prev, .next').removeClass('disabled');
    let pager=`<div class="js-pager"><ul class="btn-wrapper"><li class="prev btn-item"><a class="btn-anchor" href="#">前へ</a></li><li class="next btn-item"><a class="btn-anchor" href="#">次へ</a></li></ul></div>`;
    $('.lists').after(pager);
    if(result.page===1){
      $('.prev').addClass('disabled');
    }
    if(result.page===result.pageCount){
      $('.next').addClass('disabled');
    }
  }
}); */